*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://img.freepik.com/free-vector/silhouettes-party-people-dancing-starry-background_1048-2547.jpg?w=740&t=st=1692706055~exp=1692706655~hmac=96e09bc2440c45a7081c09d2af8099272a3512cf5e8888e763e6d6777510bd96");
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    text-align: center;

}
h1{
    float: left;
    margin-top: 25px;
    font-size: 30px;
    margin-left: 10px;
    text-transform: uppercase;
    color: blanchedalmond;
    position:relative;
    text-shadow: 4px 4px brown, 3px 4px yellow;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 70px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:aliceblue;
    padding: 10px;
    border: 1px solid transparent;
    transition: 0.5;
}
ul li a:hover{
    background-color: aliceblue;
    color:brown;
}


.menu{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top:30%;
    left: 30%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
    color:goldenrod;
    text-shadow: 3px -3px blueviolet,-2px 3px olive;
    
}
.abc{
    position: absolute;
    top: 50%;
    left:35%;
    text-transform: capitalize;
    text-align: justify;
    font-size:20px;
    font-style: oblique;
    color:black;
    font-weight:700;
}
#h{
    text-align-last: right;
}

.button{
    position: absolute;
    bottom: 20%;
    left:30%;
    color: black;
    font-size: 20px;
    transition: 0.5 ease;
    text-decoration: none;
    transform: translate(-50,50);
    
}
.btn{
    border: 1px solid #fff;
    width: 200px;
    padding: 5px 20px;
    background: transparent;
    margin: 20px 40px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 900;
}
.btn:hover{
    background-color: aliceblue;
    color:brown;
}
.icon {
    position: absolute;
    bottom: 200px;
    right: 30px;
}
.icon i{
    background: black;
    color: #fff;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 20px;

}
.icon i:hover{
    background-color: aliceblue;
    color:brown;
}
